/*! purgecss start ignore */
.paragraph-type-top,
.paragraph-top {
  @apply flex items-center justify-between;
}

.paragraphs-subform {
  @apply grid grid-cols-1 gap-3;
}

ul.paragraphs-add-dialog-list {
  input.field-add-more-submit {
    background-repeat: no-repeat;
    background-position: 0.5rem;
    background-size: 1.5rem;
    padding-left: 3rem;
    text-align: left;
  }
}

.js {
  .field--widget-paragraphs {
    th {
      .label {
        @apply inline;
      }
      .paragraphs-actions {
        @apply inline float-right;
      }
    }
  }
}
/*! purgecss end ignore */
